{% if node.get_descendants|length %}
    <li>
        <details open>
            <summary>
                <a href="{{ node.url }}"
                   class="link link-hover {% if page.id == node.id %}font-bold{% endif %}">
                    {{ node.title }}
                </a>
            </summary>
            <ul>
                {% for ch in node.get_children  %}
                    {% with node=ch %}
                        {% include "study_notes/components/tree_view.html" %}
                    {% endwith %}
                {% endfor %}
            </ul>
        </details>
    </li>
{% else %}
    <li>
        <a href="{{ node.url }}"
           class="link link-hover {% if page.id == node.id %}font-bold{% endif %}">
            {{ node.title }}
        </a>
    </li>
{% endif %}