{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Energy Utilities</h1>
    <hr>
    <div class="text-center">
    {% if tesla_token and tesla_token.token and request.user.is_authenticated %}
        <h2>You have a connected vehicle.</h2>
        {% if tesla_token.smart_charging and scheduled %}
        <h5>Charging is scheduled for {{ scheduled.start_time }} until {{ scheduled.end_time }} at a mean price of {{ scheduled.mean_price|floatformat }} öre/kWh.</h5>
        {% endif %}
        <p>If you want to delete the tokens from this website
            click <a href="{% url 'tesla_delete_tokens' %}"
                     onclick="return confirm('Are you sure you want to delete your tokens?');">here</a></p>
        {% if tesla_token.has_expired %}
            <p><strong>The token has however expired please add a new token.</strong></p>
            <p>Click this <a href="{{ tesla_url_token_generation }}" target="_blank">link</a> and login to tesla and please copy the link you were redirected to which contains a
            one time token.</p>
            <form method="post" action="{% url 'energy_index' %}" class="text-center">
                {% csrf_token %}
                {{ tesla_form|crispy }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        {% else %}
            {% if is_charging != None %}
            {% if not is_charging %}
            <p>The vehicle is currently not charging.</p>
            <a class="btn btn-primary" href="{% url 'vehicle_start_charging' %}">Start Charging</a>
            {% else %}
                <p>The vehicle is currently charging.</p>
                <a class="btn btn-primary" href="{% url 'vehicle_stop_charging' %}">Stop Charging</a>
            {% endif %}
            {% endif %}
        {% endif %}

    {% elif request.user.is_authenticated %}
        <p class="text-center">To enable the smart charging scheduling you must first generate a token for
            use to use when starting and stopping the charging.</p>
        <p class="text-center">Click this <a href="{{ tesla_url_token_generation }}" target="_blank">link</a> and login to tesla and please copy the link you were redirected to which contains a
            one time token.</p>
        <form method="post" action="{% url 'energy_index' %}">
            {% csrf_token %}
            {{ tesla_form|crispy }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    {% else %}
        <article>
            <h4 class="warning">Please login and revisit this page again,
                all utilities on this page requires authentication.</h4>
            <br>
            <p>When logged in you will be able to add Tesla vehicles so that they will be charged at the cheapest hourly
            energy prices. At this moment the energy prices are only gotten for SE4, a energy zone in sweden.
                More zones will soon be added.</p>
        </article>
    {% endif %}

    </div>
</div>
<div class="container-fluid text-center" style="margin-top:25vh;">
    <hr>
    <p>The energy data displayed on this page and used to power the charging algorithm and more
        is gotten from ENTSO-E <small>(European Network of Transmission System Operators)</small>.</p>
</div>
{% endblock %}