{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    {% if blocks|length > 10 %}
       {% include 'blocks/_add_block.html' with form=form %}
    {% endif %}
    {% for block in blocks %}
        <div class="content-container">
            {% include "blocks/standard_content.html" with content=block hsize=1 user=user remove_comment_button=True is_block=True %}
            <a href='{% url 'block' block.human_identifiable_id %}' class="btn btn-primary">
                Visit <strong>{{ block.human_identifiable_id|capfirst }}</strong>!
            </a>
            <hr>
        </div>
    {% endfor %}
    {% if blocks|length <= 10 %}
       {% include 'blocks/_add_block.html' with form=form %}
    {% endif %}

{% endblock %}