{% extends 'base.html' %}
{% load tags %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container-fluid">
<div class="text-center">
    <h2>Change <span class="fa-italic"> {{ content.title }}</span></h2>
</div>
{% if request.user.is_authenticated %}
<form method="post" action="{% url 'modify' content.id is_block|bool_to_int %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<p>You must be logged in before you can change data.</p>
{% endif %}
</div>
{% endblock %}