{% load tags %}
<h{% if hsize %}{% if hsize <= 6 %}{{ hsize }}{% else %}6{% endif %}{% endif %}>{{ content.title }}
</h{% if hsize %}{% if hsize <= 6 %}{{ hsize }}{% else %}6{% endif %}{% endif %}>
<br>
<p>{{ content.text }}</p>
<div class="d-flex justify-content-start">
    <a class="btn btn-primary" href="#" disabled="{% can_add request content %}" style="margin: 0.5%;">Comment on this!</a>
    <a class="btn btn-secondary" href="#" disabled="{% can_change request content %}" style="margin: 0.5%;">Change</a>
    <a class="btn btn-secondary" href="#" disabled="{% can_delete request content %}" style="margin: 0.5%;">Delete</a>
</div>
<div class="d-flex justify-content-end">
    <small>{{ content.author }}</small>
</div>
<div class="d-flex justify-content-end">
    <small>{{ content.created }}</small>
</div>