{% load tags %}
<h{% if hsize %}{% if hsize <= 6 %}{{ hsize }}{% else %}6{% endif %}{% endif %}>{{ content.title }}
</h{% if hsize %}{% if hsize <= 6 %}{{ hsize }}{% else %}6{% endif %}{% endif %}>
<br>
<p>{{ content.text }}</p>
<div class="btn-group">
    <a class="btn btn-primary" href="#">Comment on this!</a>

    {% if content.owner == request.user.normaluser %}
        <a class="btn btn-secondary" href="#">Change</a>
        <a class="btn btn-secondary" href="#">Delete</a>
    {% endif %}
</div>
<div class="d-flex justify-content-end">
    <small>{{ content.author }}</small>
</div>
<div class="d-flex justify-content-end">
    <small>{{ content.created }}</small>
</div>