<button class="flex-1 btn btn-secondary" onclick="modify_datastore_modal_{{ store.id }}.showModal()">
    <i data-lucide="pencil"></i>Modify Datastore
</button>
<dialog id="modify_datastore_modal_{{ store.id }}" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Modify {{ store.name }}</h3>
        <form method="post" action="{% url 'modify_data' store.key %}">
            {% csrf_token %}
            {% include "ui/forms/form.html" %}
            <div class="modal-action">
                <button class="btn btn-primary btn-block" type="submit" value="Submit">Submit</button>
            </div>
        </form>
        {% if store.owner == request.user.normaluser %}
            <form action="{% url 'delete_datastore' store.key %}"
                  method="post"
                  onclick="return confirm('Are you sure you want to delete the datastore? You cannot undo this action.');">
                {% csrf_token %}
                <div class="modal-action">
                    <button class="btn btn-error btn-block">Delete</button>
                </div>
            </form>
        {% endif %}
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

