<button class="flex-1 join-item btn btn-secondary" onclick="modify_datastore_modal_{{ store.id }}.showModal()">
    <i data-lucide="pencil"></i>Modify
</button>
<dialog id="modify_datastore_modal_{{ store.id }}" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Modify {{ store.name }}</h3>
        <form method="post" action="{% url 'modify_data' store.key %}">
            {% csrf_token %}
            {% include "dashboard/forms/form_fields.html" %}
            <div class="modal-action">
                <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

