{% load study_notes_custom_filters %}
{% if node.live %}
    {% with live_children=node|get_sorted_live_children %}
        {% if live_children|length %}
            <li>
                <details {% if node in ancestors or page.pk == node.pk %}open{% endif %}>
                    <summary>
                        <a href="{{ node.url }}"
                           class="link link-hover {% if page.id == node.id %}font-bold{% endif %}">
                            {{ node.title }}
                        </a>
                    </summary>
                    <ul>
                        {% for ch in live_children %}
                            {% with node=ch %}
                                {% include "study_notes/components/tree-view/tree-view.html" %}
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </details>
            </li>
        {% else %}
            <li>
                <a href="{{ node.url }}"
                   class="link link-hover {% if page.id == node.id %}font-bold{% endif %}">
                    {{ node.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
{% endif %}