/secret/

/DEVELOPMENT_STORAGE/
static_root/

__pycache__/

/**/migrations/*.py
!/**/migrations/__init__.py

node_modules/
media/

.idea/
venv/

.yapenv*.local
.yapenv*.production

*.js.map
*.tsbuildinfo
