crispy-bootstrap5==0.7
Django==4.2.2
django-bootstrap-v5==1.0.11
django-crispy-forms==2.0
djangorestframework==3.14.0
Markdown==3.4.3
numpy==1.25.0
pandas==2.0.2
Pillow==9.5.0
psycopg2-binary==2.9.6
pymongo==4.4.0
python-dateutil==2.8.2
python-markdown-math==0.8
pytz==2023.3
uuid==1.30
wagtail==5.0.2
wagtailcodeblock==1.29.0.0