{% extends 'base.html' %}
{% load tags %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <h1 class="text-center" style="margin-bottom: 5vh;">Flashcard data</h1>
        <div class="row row-cols-1 row-cols-lg-2">
        {% for flashcard in flashcards %}
            <div class="col">
                <div class="card border-info mb-3">
                    <div class="card-header">
                        <h3>{{ flashcard|get_item:'q' }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-text">

                            <p>{{ flashcard|get_item:'a' }}</p>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <p style="float:left;">Score: {{ flashcard|get_item:'score' }}</p>
                            <button class="btn btn-info" style="margin:0;" onclick="toggleShow('flashcard-stats-{{ forloop.counter0 }}')">Show stats</button>
                            <p style="float:right;">Sorting weight: {{ flashcard|get_item:'weight' }}</p>
                        </div>
                        <div style="display: none;" id="flashcard-stats-{{ forloop.counter0 }}">
                            <hr style="margin-top: 2vh;">
                            <h4 class="text-center" style="margin-top: 2vh;">Scores</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Time</td>
                                        <td>Points</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in flashcard|get_item:'array' %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ i.0|timestamp_to_datetime }}</td>
                                            <td>{{ i.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}