{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="hero bg-base-300 text-base-content">
        <div class="hero-content text-center">
            <div class="max-w-md gap-4 flex flex-col">
                <h1 class="text-2xl font-bold">
                    {% if request.GET.tag %}
                        Tag: <span class="badge badge-info badge-lg">{{ request.GET.tag }}</span>
                    {% else %}
                        No Tag
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>

    <div class="py-8 container">
        {% include "study_notes/components/page-grid/page-grid.html" with note_pages=notepages %}
    </div>
{% endblock %}