{% extends 'base.html' %}
{% load wagtailmath %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load tags %}
{% load study_notes_custom_filters %}

{% block body_class %}
    template-blogpage
{% endblock %}

{% block meta_description %}
    {{ page.meta_description }}
{% endblock %}

{% block content %}
    {% with page.get_parent as parent %}
        <div class="drawer lg:drawer-open">
            <input id="tree-view-drawer" type="checkbox" class="drawer-toggle"/>
            <div class="drawer-content">
                {% include 'study_notes/components/hero.html' %}
                <div class="flex flex-row items-center bg-base-100 sticky top-0 z-10 shadow-sm">
                    {% include 'study_notes/components/toolbar.html' %}
                    {% include 'study_notes/components/breadcrumbs.html' %}
                    {% include 'study_notes/components/last_edited.html' %}
                </div>

                <div class="relative container">
                    <div class="my-prose mx-auto max-w-4xl py-8">
                        <div>
                            {% for block in page.body %}
                                {% if block.block_type == 'heading' %}
                                    <h1>{{ block.value.file }}</h1>
                                {% elif block.block_type == 'image' %}
                                    <figure class="h-[800px]">
                                        {% image block.value height-800 format-webp %}
                                    </figure>
                                {% elif block.block_type == 'quiz' %}
                                    <div class="block-quiz"
                                         id="quiz-holder-{{ block.id }} succ-fail-{{ block.id }}">
                                        <div class="card text-center blue-border">
                                            <div class="card-header succ-fail-{{ block.id }} "
                                                 id="quiz-title-{{ block.id }}">
                                                <span style="float: left;margin-left:3em;">{{ block.value.title }}</span>
                                                <div style="float:right;">
                                            <span class="badge rounded-pill bg-success">Score: <span
                                                    id="quiz-score-{{ block.id }}">0</span></span>
                                                    <span class="badge rounded-pill bg-danger">Passing Score: {{ block.value.passing_score }}</span>
                                                </div>
                                            </div>
                                            <div class="card-body succ-fail-{{ block.id }}"
                                                 id="quiz-body-{{ block.id }}">
                                                <p class="card-text"
                                                   id="quiz-q-{{ block.id }}">{{ quiz_starts|get_item:block.id }}</p>

                                                <form class="form-group" id="quiz-btn-{{ block.id }}"
                                                      onsubmit="return quizzes.quizRunner('{{ block.id }}');">
                                                    <label style="display:none;"
                                                           for="quiz-input-field-{{ block.id }}">Answer&nbsp;</label><input
                                                        id="quiz-input-field-{{ block.id }}"
                                                        style="max-width:400px;"
                                                        placeholder="Answer..."
                                                        aria-label="Answer" type="text"/>
                                                    <button class="btn btn-success" style="" type="button"
                                                            onclick="quizzes.quizRunner('{{ block.id }}')">Submit
                                                    </button>
                                                </form>
                                                <div class="inline-block" id="quiz-btn-next-{{ block.id }}"
                                                     style="display:none;">
                                                    <button class="btn btn-primary" type="button"
                                                            onclick="quizzes.nextCard('{{ block.id }}')"><span
                                                            id="quiz-btn-nextspan-{{ block.id }}">Next!</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-footer succ-fail-{{ block.id }}">
                                                Card <span
                                                    id="quiz-progress-{{ block.id }}">1</span>/{{ quiz_lengths|get_item:block.id }}
                                            </div>
                                        </div>
                                    </div>
                                {% elif block.block_type == 'flashcards' %}
                                    <div class="block-flashcards">
                                        <h2 class="flex flex-row items-center flex-wrap">
                                            <span class="flex-1">{{ block.value.title }}</span>
                                            {% if request.user.is_authenticated %}
                                                {% include "study_notes/components/flashcards/subscribe-button.html" with block_id=block.id is_subscribed=flash_json|get_item:block.id|get_item:"is_subscribed" %}
                                            {% endif %}
                                        </h2>
                                        {% include "study_notes/components/flashcards/flashcards.html" with flash_card_list=flash_json|get_item:block.id|get_item:"cards" amount_of_cards=flash_lengths|get_item:block.id %}
                                    </div>
                                {% else %}
                                    <div>
                                        <section class="block-{{ block.block_type }}">
                                            {% include_block block %}
                                        </section>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% for item in page.gallery_images.all %}
                                <div>
                                    {% image item.image fill-320 x240 %}
                                    <p>{{ item.caption }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="drawer-side z-[100] lg:z-auto ">
                <label for="tree-view-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                <div class="h-full bg-base-200 text-base-content">
                    {% include "study_notes/components/tree-view/tree-view-base.html" with node=parent ancestors=page.get_ancestors %}
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}

{% block custom_scripts %}
    <script src="{% mathjax %}"></script>
    <script src="{% static 'js/quiz.js' %}" lang="js"></script>
    <script lang="js">
        let quizzes = new Quizzes({{ quiz_json| safe }});
    </script>
{% endblock %}