{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="text-container text-center">

    {% if request.GET.tag %}
        <h3>Showing pages tagged <span class="badge rounded-pill bg-info">{{ request.GET.tag }}</span></h3>

    {% else %}
        <h2>Got no Tag</h2>
    {% endif %}
    <br>
        <div class="text-container">

        <ol class="list-group list-group-numbered">


            {% for page in notepages %}

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"><a href="{% pageurl page %}" style="color: black;margin-bottom: 10px;">{{ page.title }}</a></div>
                    <p>{{ page.specific.intro }}</p>
                </div>
            <span class="badge bg-primary rounded-pill"><small>Revised: {{ page.latest_revision_created_at }}</small></span>
            </li>

            {% empty %}
                No pages found with that tag.
            {% endfor %}
        </ol>

        </div>
    </div>

{% endblock %}