{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailmath %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="text-container">
        <h1>{{ page.title }}</h1><span style="margin-bottom: 2vh;" class="badge rounded-pill bg-secondary"><small>{{ page.date }}</small></span>

        {% if page.tags.all.count %}
        <div class="tags inline-block">
            {% for tag in page.tags.all %}
                <a class="badge rounded-pill bg-info text-dark" style="font-size: 2vh;" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <br>
        {% endif %}
        {% with categories=page.categories.all %}
            {% if categories %}
                <h3>Posted in:</h3>
                <ul>
                    {% for category in categories %}
                        <li style="display: inline">
                            {% image category.icon fill-32x32 style="vertical-align: middle" %}
                            {{ category.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="intro">{{ page.intro }}</div>

        {% for block in page.body %}
            {% if block.block_type == 'heading' %}
                <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'image' %}
                <div class="custom-image" style="padding: 2vw;">
                    {% image block.value height-800 %}
                </div>
            {% elif block.block_type == 'quiz' %}
                <div id="quiz-holder-{{ forloop.counter0 }}">
                        <p>Placeholder Quiz</p>
                        <div class="card text-center">
                          <div class="card-header" id="quiz-title-{{ forloop.counter0 }}">
                              {{ block.value.title }}
                          </div>
                          <div class="card-body">
                            <p class="card-text" id="quiz-q-{{ forloop.counter0 }}"></p>
                            <div class="inline-block">
                                <label for="quiz-input-field-{{ forloop.counter0 }}">Answer&nbsp;</label><input id="quiz-input-field-{{ forloop.counter0 }}" type="text">
                                <button class="btn btn-success" onclick="quizRunner({{ forloop.counter0 }})">Submit</button>

                            </div>

                          </div>
                          <div class="card-footer text-muted" id="quiz-progress-{{ forloop.counter0 }}">
                            Card x/all
                          </div>
                        </div>
                </div>
            {% else %}
                <div>
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                </div>
            {% endif %}
            <hr>

        {% endfor %}

        {% for item in page.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
        <br>
        <div class="text-center">
            <a href="{{ page.get_parent.url }}"><button type="button" class="btn btn-primary btn-lg">Return to all notes</button></a>
        </div>

    </div>

{% endblock %}

{% block custom_scripts %}
    <script src="{% mathjax %}"></script>
    <script lang="js">
        let quiz_data = {{ quiz_json|safe }};
        var current_card = 0; // TODO FIX THIS WILL ONLY WORK WITH ONE
        function quizRunner(counter) {

            let input = document.getElementById("quiz-input-field-"+counter).value;
            current_card+=1;
            if (quiz_data[current_card]["cards"].length > current_card) {
                document.getElementById("quiz-q-"+counter).innerHTML = quiz_data[current_card]["cards"][current_card];
            } else {
                current_card=0;
                document.getElementById("quiz-q-"+counter).innerHTML = "Slut på kort";
            }

            return false;
        }
    </script>
{% endblock %}

