{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="text-container">
        <h1>{{ page.title }}</h1>
        {% if page.tags.all.count %}
        <div class="tags">
            {% for tag in page.tags.all %}
                <a class="badge rounded-pill bg-info text-dark" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% with categories=page.categories.all %}
            {% if categories %}
                <h3>Posted in:</h3>
                <ul>
                    {% for category in categories %}
                        <li style="display: inline">
                            {% image category.icon fill-32x32 style="vertical-align: middle" %}
                            {{ category.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="intro">{{ page.intro }}</div>

        {% for block in page.body %}
            {% if block.block_type == 'heading' %}
                <h1>{{ block.value }}</h1>
            {% elif block.block_type == 'image' %}
                <div class="custom-image" style="padding: 2vw;">
                    {% image block.value width-600 %}
                </div>
            {% else %}
                <div>
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                </div>
            {% endif %}
        {% endfor %}

        {% for item in page.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
        <span class="badge rounded-pill bg-secondary">{{ page.date }}</span>
        <br>
        <a href="{{ page.get_parent.url }}"><button type="button" class="btn btn-secondary">Return to all notes</button></a>

    </div>

{% endblock %}

