{% extends "base.html" %}
{% load wagtailimages_tags %}

{% load wagtailcore_tags %}

{% block body_class %}template-notesindexpage{% endblock %}

{% block content %}
    <div class="text-container">
        <h1>{{ page.title }}</h1>

        <div class="intro">{{ page.intro|richtext }}</div>

        {% for post in note_pages %}

            {% with post=post.specific %}
                    <hr>
                    <h2 ><a href="{% pageurl post %}" class="notepage-title-link">{{ post.title }}{% include "icons/arrow-right.html" %}</a></h2>
                    {% with post.main_image as main_image %}
                        {% if main_image %}{% image main_image fill-160x100 class="boxed-image" %}{% endif %}
                    {% endwith %}

                    {{ post.intro }}

            {% endwith %}

        {% endfor %}
    </div>


{% endblock %}