{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailmath %}
{% load custom_filters %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="text-container">
        <h1>{{ page.title }}</h1><span style="margin-bottom: 2vh;" class="badge rounded-pill bg-secondary"><small>{{ page.date }}</small></span>

        {% if page.tags.all.count %}
        <div class="tags inline-block">
            {% for tag in page.tags.all %}
                <a class="badge rounded-pill bg-info text-dark" style="font-size: 2vh;" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <br>
        {% endif %}
        {% with categories=page.categories.all %}
            {% if categories %}
                <h3>Posted in:</h3>
                <ul>
                    {% for category in categories %}
                        <li style="display: inline">
                            {% image category.icon fill-32x32 style="vertical-align: middle" %}
                            {{ category.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="intro">{{ page.intro }}</div>
        {% for block in page.body %}
            {% if block.block_type == 'heading' %}
                <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'image' %}
                <div class="custom-image" style="padding: 2vw;">
                    {% image block.value height-800 %}
                </div>
            {% elif block.block_type == 'quiz' %}
                <div id="quiz-holder-{{ block.id }} succ-fail-{{ block.id }}">
                        <div class="card text-center">
                          <div class="card-header succ-fail-{{ block.id }}" id="quiz-title-{{ block.id }}">
                              {{ block.value.title }}
                          </div>
                          <div class="card-body succ-fail-{{ block.id }}" id = quiz-body-{{ block.id }}>
                            <p class="card-text" id="quiz-q-{{ block.id }}">{{ quiz_starts|get_item:block.id }}</p>
                            <form class="form-group" id="quiz-btn-{{ block.id }}" onsubmit="return quizzes.quizRunner('{{ block.id }}');">

                                <label for="quiz-input-field-{{ block.id }}">Answer&nbsp;</label><input id="quiz-input-field-{{ block.id }}" type="text">
                                <br>
                                <button class="btn btn-success " type="button" onclick="quizzes.quizRunner('{{ block.id }}')">Submit</button>

                            </form>
                            <div class="inline-block" id="quiz-btn-next-{{ block.id }}" style="display:none;">
                                <button class="btn btn-primary " type="button" onclick="quizzes.nextCard('{{ block.id }}')"><span id="quiz-btn-nextspan-{{ block.id }}">Next!</span></button>
                            </div>
                          </div>
                          <div class="card-footer succ-fail-{{ block.id }}">
                              Card <span id="quiz-progress-{{ block.id }}">1</span>/{{ quiz_lengths|get_item:block.id }}
                          </div>
                        </div>
                </div>
            {% else %}
                <div>
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                </div>
            {% endif %}
            <hr>


        {% endfor %}

        {% for item in page.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
        <br>
        <div class="text-center">
            <a href="{{ page.get_parent.url }}"><button type="button" class="btn btn-primary btn-lg">Return to all notes</button></a>
        </div>

    </div>

{% endblock %}

{% block custom_scripts %}
    <script src="{% mathjax %}"></script>
    <script lang="js">
        let quiz_data = {{ quiz_json|safe }};
        class Quizzes {
            constructor() {
                this.quizzes = {};
            }

            nextCard(counter) {
                document.getElementById("quiz-btn-next-"+counter).style.display = "none";


                let quiz = quiz_data[counter];
                let cards = quiz["cards"];
                document.getElementById("quiz-btn-"+counter).style.display = "initial";
                for (const div of document.getElementsByClassName("succ-fail-"+counter)) {
                        let divClasses = div.classList;
                        divClasses.remove("failure-quiz");

                        divClasses.remove("correct-quiz")
                    }

                if (this.quizzes[counter] in cards) {
                    document.getElementById("quiz-q-"+counter).innerHTML = cards[this.quizzes[counter]]["q"];
                } else {
                    this.quizzes[counter]=0;
                    document.getElementById("quiz-progress-"+counter).innerHTML = 1+this.quizzes[counter];

                    return this.nextCard(counter);
                }

                if (!(this.quizzes[counter]+1 in cards)) {
                    document.getElementById("quiz-progress-"+counter).innerHTML = 1+this.quizzes[counter];

                }
                return false
            }

            quizRunner(counter) {
                if (!(counter in this.quizzes)) {
                    this.quizzes[counter] = 0;
                }
                let quiz = quiz_data[counter];
                let input = document.getElementById("quiz-input-field-"+counter).value;
                let cards = quiz["cards"];

                if (this.quizzes[counter] in cards) {
                    let correct = input === cards[this.quizzes[counter]]["a"];

                    for (const div of document.getElementsByClassName("succ-fail-"+counter)) {
                        let divClasses = div.classList;
                        if (correct) {
                            divClasses.remove("failure-quiz");
                            divClasses.add("correct-quiz")
                        } else {
                            divClasses.add("failure-quiz");
                            divClasses.remove("correct-quiz")
                        }
                    }
                    document.getElementById("quiz-btn-"+counter).style.display = "none";
                    if (correct) {
                        document.getElementById("quiz-q-"+counter).innerHTML = "You answered correctly!"
                    } else {
                        document.getElementById("quiz-q-"+counter).innerHTML = "You answered incorrectly("+'"'+input+'"'+") correct was " + '"' + cards[this.quizzes[counter]]["a"] + '"';
                    }

                    document.getElementById("quiz-btn-next-"+counter).style.display = "inline";

                    this.quizzes[counter]+=1;
                    if (!(this.quizzes[counter] in cards)) {
                        document.getElementById("quiz-btn-nextspan-"+counter).innerHTML = "Slut på kort, starta om!";
                    } else {
                        document.getElementById("quiz-btn-nextspan-"+counter).innerHTML = "Next";
                    }
                }
            return false
        }
        }

        let quizzes = new Quizzes();


    </script>
{% endblock %}

