{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% load custom_filters %}

{% block content %}
    <div class="hero bg-base-200 p-12">
        <div class="hero-content text-center">
            <div class="max-w-md prose lg:prose-lg">
                <h1>{{ users_page|capfirst }}'s profile</h1>
            </div>
        </div>
    </div>

    <div class="container my-prose py-8">
        {% if are_there_cards %}
            <h2 class="flex flex-row items-center flex-wrap">
                <span class="flex-1">Subscribed cards!</span>
                {% if users_id == current_user_id %}
                    <div>
                        <a href="{% url 'view_flashcard_stats' %}">
                            <button class="btn btn-sm btn-neutral btn-outline">View Collection</button>
                        </a>
                    </div>
                {% endif %}
            </h2>
            {% include "study_notes/components/flashcards/flashcards.html" %}
        {% else %}
            <p>{{ users_page|capfirst }} hasn't subscribed to any flashcards... 🥺👉👈</p>
        {% endif %}
    </div>
{% endblock %}

{% block custom_scripts %}
{% endblock %}
