{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% load custom_filters %}

{% block content %}
    <div class="hero bg-base-200 p-12">
        <div class="hero-content text-center">
            <div class="max-w-md prose lg:prose-lg">
                <h1>{{ users_page|capfirst }}'s profile</h1>
            </div>
        </div>
    </div>

    <div class="container prose lg:prose-lg prose-li:my-0 prose-ul:my-0 prose-p:my-1 prose-hr:my-2 py-8">
        <h2>Subscribed flashcards</h2>
        {% if are_there_cards %}
            <div id="quiz-holder-user-subscribed-cards succ-fail-user-subscribed-cards">
                <div class="card bg-base-100 shadow-xl overflow-hidden">
                    <div class="w-full bg-base-300 p-4 flex flex-row items-center"
                         id="quiz-title-user-subscribed-cards">
                        <span class="card-title flex-1">All {{ users_page|capfirst }}'s subscribed cards!</span>
                        <span class="badge badge-accent">
                            Score:&nbsp;<span id="quiz-score-user-subscribed-cards">0</span>
                        </span>
                    </div>
                    <div class="card-body bg-base-200 text-base-content" id="quiz-body-user-subscribed-cards">
                        <div id="quiz-q-user-subscribed-cards">{{ first_card.q }}</div>
                        <div class="card-actions justify-center">
                            <form id="quiz-btn-user-subscribed-cards"
                                  onsubmit="return flashcards.quizRunner();">
                                <button class="btn btn-primary"
                                        type="button"
                                        onclick="flashcards.quizRunner()">
                                    Next
                                </button>
                            </form>
                            <div class="hidden join" id="quiz-btn-next-user-subscribed-cards">
                                <div class="tooltip tooltip-error" data-tip="Again">
                                    <button class="btn btn-error sm:btn-lg join-item" onclick="flashcards.nextCard(-1)">
                                        <i data-lucide="x"></i>
                                    </button>
                                </div>
                                <div class="tooltip tooltip-neutral" data-tip="Skip">
                                    <button class="btn btn-neutral sm:btn-lg join-item"
                                            onclick="flashcards.nextCard(0)">
                                    <span id="quiz-btn-nextspan-user-subscribed-cards">
                                        <i data-lucide="redo"></i>
                                    </span>
                                        <span id="quiz-btn-restartspan-user-subscribed-cards">
                                        <i data-lucide="rotate-ccw"></i>
                                    </span>
                                    </button>
                                </div>
                                <div class="tooltip tooltip-warning" data-tip="Ok">
                                    <button class="btn btn-warning sm:btn-lg join-item"
                                            onclick="flashcards.nextCard(0.7)">
                                        <i data-lucide="smile"></i>
                                    </button>
                                </div>
                                <div class="tooltip tooltip-info" data-tip="Good">
                                    <button class="btn btn-info sm:btn-lg join-item" onclick="flashcards.nextCard(1)">
                                        <i data-lucide="laugh"></i>
                                    </button>
                                </div>
                                <div class="tooltip tooltip-success" data-tip="Easy">
                                    <button class="btn btn-success sm:btn-lg join-item"
                                            onclick="flashcards.nextCard(7)">
                                        <i data-lucide="check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full bg-base-300 p-4 flex flex-row items-center">
                        <span class="flex-1">
                            
                        Card: <span id="quiz-progress-user-subscribed-cards">1 | 1</span>/({{ amount_of_cards }} unique)
                        </span>
                        {% if users_id == current_user_id %}
                            <div>
                                <a href="{% url 'view_flashcard_stats' %}">
                                    <button class="btn btn-secondary">View Collection</button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <br>
        {% else %}
            <p>{{ users_page|capfirst }} hasn't subscribed to any flashcards... 🥺👉👈</p>
        {% endif %}
    </div>
{% endblock %}

{% block custom_scripts %}
    {% if are_there_cards %}
        <script src="{% static 'js/user_flashcards.js' %}" lang="js">
        </script>
        <script lang="js">
            let flashcards = new UserFlashcards({{ flash_card_list|safe }}, {{ first_card|safe }});
        </script>
    {% endif %}
{% endblock %}