{% if not user.is_authenticated %}
    <a aria-label="Login" href="{% url 'login' %}" class="btn btn-primary btn-circle"><i data-lucide="log-in"></i></a>
{% else %}
    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            {% include "components/navbar/user-avatar.html" with user=request.user %}
        </div>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li><a href="{% url 'user_profile' user %}" class="justify-between">
                Profile
            </a></li>
            <li><a href="{% url 'user_profile' user %}#subscribed-cards" class="justify-between">
                Flashcards
            </a></li>
            <li>
                {% include 'shortcuts/logout-url.html' with next=request.get_full_path %}
            </li>
        </ul>
    </div>
{% endif %}