{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="text-container">
        <div class="page-start">
            <h1>{{ page.title }}</h1>
            <p>{{ page.body|richtext }}</p>
        </div>


        {% for child in children %}

            {% if child.title != "Tags" %}
            <a class="link-unstyled" href='{% pageurl child %}'>
            <div class="col">
                <div class="card border-dark mb-3 card-hover-effect">
                    <div class="card-header">
                         <h3 class="text-center">
                             {{ child.title }}
                         </h3>
                     </div>
                    <div class="card-body">
                         <div class="card-text page-description">
                             {% with child=child.specific %}
                                <p>{{ child.intro|richtext }}</p>
                             {% endwith %}
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        {% include 'shortcuts/notepage-tags.html' with tags=post.tags.all %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </a>
    </div>
{% endblock %}