{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="text-container">
        <div class="page-start">
            <h1>{{ page.title }}</h1>
            <p>{{ page.body|richtext }}</p>
        </div>


        {% for child in children %}
            <div class="page-description">
                {% if child.title != "Tags" %}
                <hr>

                <a href="{% pageurl child %}" class="notepage-title-link">
                    <h3>{{ child.title }}{% include "icons/arrow-right.html" %}</h3>
                </a>

                {% with child=child.specific %}
                    <p>{{ child.intro|richtext }}</p>
                {% endwith %}
                <br>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}