{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="text-container">
        <h1>{{ page.title }}</h1>
        <br>
        <p>{{ page.body|richtext }}</p>

        {% for child in page.get_children %}
            <hr>

            <a href="{% pageurl child %}" style="color: black;"><h3>{{ child.title }}</h3></a>

            {% with child=child.specific %}
                <p>{{ child.intro|richtext }}</p>
            {% endwith %}

        {% endfor %}
    </div>
{% endblock %}