{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid d-flex justify-content-center">
            <div style="text-align: center;">
                <h1>Login</h1>
                <br>
                <p>If you <strong>do not</strong> have an account you can create one here: {% include 'shortcuts/create-account-url.html'  with next=request.get_full_path %}.</p>
                <p>If you want to log out click here: {% include 'shortcuts/logout-url.html'  with next=request.get_full_path %}.</p>

            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" value="Submit" class="btn btn-primary">Login</button>
            <br>
            <br>
            <p class="text-left">Don't you have an account? <a href="{% url 'create_account' %}">Create account</a></p>
        </form>
    </div>
{% endblock %}