.content-container {
    width: 90%;
    border-left: 2px inset darkgray;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom:1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.text-container {margin-left: 8vw;margin-right: 8vw; padding: 2vw;border-left: 1px inset darkgray;}

.left-offset-textbox {margin-left: 15%;}
@media screen and (max-width: 800px) {
    .content-container {width: 98%;}
    .left-offset-textbox {margin-left: 10px;}
    .text-container {margin-left: 5px; padding: 5px;}
}

@media screen and (max-width: 1500px) and (min-width: 1300px) {
    .content-container {width: 80%;}
    .left-offset-textbox {margin-left: 10%;}

}

.vertical_horizontal_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin:auto;
    max-width: 600px;
}
h1 {margin-top:4vh;}
h2 {margin-top: 3vh;}
strong {text-decoration: underline;}
.simple-strong {text-decoration: None;}
.btn {margin-top: 1vh;}
.plot {width: 100%; max-width: 1000px;min-height: 300px;}
button[type="submit"] {width: 100%; margin:auto; margin-top: 1vh;}

.emp {font-style: italic;text-decoration: underline black;}
.custom-image {border: yellow 10px;border-radius: 15px;}
.tags {padding: 0.5vw;}