:root {
    --blue-border: 5px solid var(--blue);
    --blue: rgb(10,3, 160)
}

.content-container {
    width: 90%;
    border-left: 2px inset darkgray;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom:1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.gradient-bg {  background: rgb(6,0,110);
                background: linear-gradient(120deg, rgba(6,0,110,1) 0%, rgba(1,1,206,1) 35%, rgba(69,91,175,1) 52%, rgba(0,212,255,1) 100%);
                border-top: 1px inset black;
                border-bottom: 1px inset black;
}

.blue_left_border {border-left: 5px solid rgb(10,3, 160);padding-left: 10px;}

.text-container {margin-left: 8vw;margin-right: 8vw; padding: 2vw;}
img {
    height: auto;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
 }
.left-offset-textbox {margin-left: 15%;}
@media screen and (max-width: 800px) {
    .content-container {width: 98%;}
    .left-offset-textbox {margin-left: 10px;}
    .text-container {margin-left: 5px; padding: 5px;width: 100%;}
    img {max-height: 50vh;}
}

@media screen and (max-width: 1500px) and (min-width: 1300px) {
    .content-container {width: 80%;}
    .left-offset-textbox {margin-left: 10%;}
    img {max-height: 50vh;}


}

.vertical_horizontal_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin:auto;
    max-width: 600px;
}
h1 {margin-top:4vh;}
h2 {margin-top: 3vh;}
strong {text-decoration: underline;}
.simple-strong {text-decoration: None;}
.btn {margin-top: 1vh;}
.plot {width: 100%; max-width: 1000px;min-height: 300px;}
button[type="submit"] {width: 100%; margin:auto; margin-top: 1vh;}

.emp {font-style: italic;text-decoration: underline black;}
.tags {padding: 0.5vw;}

.correct-quiz {background: rgb(0,179,57);
               background: linear-gradient(120deg, rgba(0,179,57,1) 0%, rgba(25,180,24,1) 35%, rgba(123,245,109,1) 52%, rgba(0,255,166,1) 100%);
               color: white;
text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
.failure-quiz {background: rgb(129,11,0);
    background: linear-gradient(120deg, rgba(129,11,0,1) 0%, rgba(159,48,8,1) 35%, rgba(175,95,69,1) 52%, rgba(255,188,0,1) 100%);
                   color: white;
text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

hr + p:first-letter {
    border-left: var(--blue-border);
    padding-left: 10px;
}

.intro:first-letter {font-size: 1.2em; border-left: var(--blue-border);padding-left: 10px;}

h1 {text-decoration-line: underline;text-decoration-color: var(--blue);}


.block-paragraph > p:first-letter {border-left: var(--blue-border);padding-left: 10px;}