{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container-lg" style="margin:auto;">
        <div class="text-center">
            <h1>Dashboard</h1>

        </div>
        {% if data_stores %}
            {% for store in data_stores %}
                <div class="container text-center">
                <h2>{{ store.name|capfirst }}</h2>
                <p>{{ store.description }}</p>
                <br>
                <h4>Latest inserted row.</h4>
                <p>{{ store.latest_row }}</p>
                <br>
                <div>
                    <h3>Stats</h3>
                    <p>{{ store.rows }} Rows.</p>
                    <p>Approx. {{ store.storage_size_in_best_format }}</p>
                </div>
                <div class="btn-group btn-group">
                    <a href="{% url "secret_key" store.key %}" class="btn btn-warning">View secret key.</a>
                    <a class="btn btn-secondary" href="{% url "modify_data" store.key %}">Modify datastore</a>
                    <a class="btn btn-primary" href="{% url "plot" store.key %}">View Plot</a>
                </div>
                <hr>
                </div>
            {% endfor %}
        {% endif %}
        <div>
            {% if request.user.is_authenticated %}
                <div class="text-center">
                    <h1>Add a datastore</h1>
                    <form method="post" action="{% url 'index' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
                    </form>
                </div>
            {% else %}
                <hr>
                <br>
                <h3 class="mx-auto text-center">Welcome!</h3>
                <article>
                    <p>Please {% include 'shortcuts/login-url.html'  with next=request.get_full_path %} to enable creation of datastores
                        which is a quick and easy way to store and plot data simple POST requests.</p>
                    <p>An example is <code>resp = requests.post(url,
                        json={'a': 'SomeValue', 'time': 'Time_either_unix_seconds_or_datetime_OSI8601'},
                        headers={'Authorization': 'TOK:SECRET_API_TOKEN'}).text</code>
                    Which would send up SomeValue to the datastore at url.
                    </p>
                </article>
            {% endif %}
        </div>
    </div>

{% endblock %}