{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container-lg" style="margin:auto;">
        <div class="text-center">
            <h1>Dashboard</h1>

        </div>
        {% if data_stores %}
            {% for store in data_stores %}
                <div class="container text-center">
                <h2>{{ store.name|capfirst }}</h2>
                <p>{{ store.description }}</p>

                <div>
                    <h3>Stats</h3>
                    <p>{{ store.rows }} Rows.</p>
                    <p>Approx. {{ store.storage_size_in_best_format }}</p>
                </div>
                <div class="btn-group btn-group">
                    <a href="{% url "secret_key" store.key %}" class="btn btn-warning">View secret key.</a>
                    <a class="btn btn-secondary" href="{% url "modify_data" store.key %}">Modify datastore</a>
                    <a class="btn btn-primary" href="{% url "plot" store.key %}">View Plot</a>
                </div>
                <hr>
                </div>
            {% endfor %}
        {% endif %}
        <div class="text-center">
            <h1>Add a datastore</h1>
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}