{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="container-fluid text-center">
        <h1>{{ data_store.name|capfirst }}</h1>
        {% if data_store.description %}
        <p>{{ data_store.description|capfirst }}</p>
        {% endif %}
        <br>
        {% if not shared %}

            <h3>A short python example to post data.</h3>
            <hr>
            <pre style="width: 98%;margin:auto;"><code>
                url = "https://llindholm.com/data/access/<strong>{{ data_store.key }}</strong>"
                <br>
                resp = requests.post(url, json={{data_store.example_entry}},\
                <br>
                headers={'Authorization': 'TOK:SECRET_API_TOKEN'}).text
            </code></pre>
        {% endif %}
        {% for plot in plots %}
        <h2>{{ plot.name }}</h2>
        {% if not shared %}
        <div class="btn-group">
            <a class="btn btn-secondary" href="{% url 'modify_plot' plot.id %}">Modify</a>
            <a class="btn btn-primary" href="{% url 'plot_all_can_view' data_store.key %}">Share this! <small>All with this link can view</small></a>
        </div>
        {% endif %}
        <div class="plot text-center" style="margin:auto;">
            <canvas id="chart{{ forloop.counter0 }}"></canvas>
        </div>

        {% endfor %}
        {% if form %}
        <h1>Add a new chart</h1>
        <form method="post" action="{% url 'plot' data_store.key %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
{% block custom_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js" integrity="sha512-d6nObkPJgV791iTGuBoVC9Aa2iecqzJRE0Jiqvk85BhLHAPhWqkuBiQb1xz2jvuHNqHLYoN3ymPfpiB1o+Zgpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
            {# Todo, modify so that choosing timeframes is possible, should probably stream data as that happends. #}
            {% for plot in plots %}

            const ctx{{ forloop.counter0 }} = document.getElementById('chart{{ forloop.counter0 }}');
            const myChart{{ forloop.counter0 }} = new Chart(ctx{{ forloop.counter0 }}, {{ plot.plottable | safe }});
            {% endfor %}

    </script>

{% endblock %}