{% extends 'base.html' %}
{% load yapity_forms_filters %}

{% block content %}
    <div class="hero bg-base-300">
        <div class="hero-content flex flex-col">
            <div class="text-center my-prose">
                <h1 class="text-5xl font-bold">{{ data_store.name|capfirst }}</h1>
                {% if data_store.description %}
                    <p>{{ data_store.description|capfirst }}</p>
                {% endif %}
            </div>
            <div>
                {% if form %}
                    {% include "dashboard/components/create_new_plot_dialog.html" %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container my-prose py-8">
        {% if not shared %}
            <h3>A short python example to post data</h3>
            <div class="mockup-code not-prose">
                <pre data-prefix="1"><code>SECRET_API_TOKEN = "<strong>{{ data_store.secret_key }}</strong>"</code></pre>
                <pre data-prefix="2"><code>DATASTORE_UUID = "<strong>{{ data_store.key }}</strong>"</code></pre>
                <pre data-prefix="3"><code>url = f"{{ request.scheme }}://{{ request.get_host }}/data/access/{DATASTORE_UUID}"</code></pre>
                <pre data-prefix="4"><code>resp = requests.post(url,</code></pre>
                <pre data-prefix="5"><code>         json={{ data_store.example_entry }},</code></pre>
                <pre data-prefix="6"><code>         headers={"Authorization": f"TOK:{SECRET_API_TOKEN}"}).text</code></pre>
            </div>
        {% endif %}
        <div role="alert" class="alert alert-info mt-4">
            <i data-lucide="info"></i>
            <span>Now only plotting last 10k datapoints by default.</span>
        </div>
        {% for plot in plots %}
            <h2>{{ plot.name }}</h2>
            {% if not shared %}
                <div class="join w-full not-prose">
                    {% include "dashboard/components/modify_plot_dialog.html" %}
                    <a href="{% url 'plot_all_can_view' data_store.key %}" class="flex-1">
                        <button class="w-full join-item btn btn-primary">
                            <i data-lucide="share-2"></i>
                            Share plot!
                        </button>
                    </a>
                </div>
            {% endif %}
            
            {% include "dashboard/components/chart.html" with chart=plot %}
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}