{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center">
    <h2>Secret Key</h2>
    <hr>
    <p>Your secret api key is "<strong class="simple-strong">{{ data_store.secret_key }}</strong>". This should be set in the authorization header when doing
        requests to the api.</p>
    <p>In any url used to access or modify data for this datastore you must also use
        <strong class="simple-strong">{{ data_store.key }}</strong> as the datastores identifier.</p>
    <a class="btn btn-success" href="{% url 'index' %}">Go to dashboard.</a>
</div>

{% endblock %}