<!DOCTYPE html>

{% load static %}
{% load tags %}

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="HandheldFriendly" content="true"/>
    <title>{{ title }}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="icon" type="image/x-icon" href="{% static 'website_logo/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'compiled/main.css' %}{% file_version_hash %}"/>
    <script src="{% static 'compiled/theme.js' %}{% file_version_hash %}"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="relative flex min-h-screen flex-col overflow-x-clip">
    {% include 'components/navbar.html' %}
    {% if messages %}
        <div class="toast toast-end">
            {% for message in messages %}
                <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>
                    <span>{{ message|safe }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="flex flex-1">
        <div class="w-full">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
</div>

{% block scripts %}
    <script src="https://unpkg.com/lucide@latest"></script>
    <script type="module">lucide.createIcons()</script>

    <script type="module" src="{% static 'compiled/main.js' %}{% file_version_hash %}"></script>
{% endblock %}
{% block custom_scripts %}
{% endblock %}
</body>
</html>
