{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{% url 'index' %}">L. L<small>indholm</small></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'energy_index' %}">Energy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "login" %}" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
        </li>
        {% endif %}
      </ul>
      <form class="" style="margin:auto;margin-right: 0;margin-left:1vw;">
         {% csrf_token %}
          <div class="row justify-content-center align-items-center">
              {% if not user.is_authenticated %}

              <div class="col-sm-auto">
                    <a href="{% url 'login' %}" class="badge bg-warning" style="color:black;text-decoration: None;font-size:1rem;">Login?</a>
              </div>
              {% else %}
              <div class="col-sm-auto">
                  <small>{{ user|capfirst }}</small>
              </div>

              <div class="col-sm-auto">
                  <a href="{% url 'login' %}">
                      <img class="img-responsive" src="{% if user.profile_image %}{{ user.profile_image }}{% else %}{% static 'default-user.svg' %}{% endif %}"
                           alt="Profile picture" style="max-width: 64px; max-height: 64px;width: 4em;height: 4em;" >
                  </a>
              </div>

              {% endif %}
              <div class="col-sm-auto">
                   <input class="form-control" type="search" placeholder="Search" style="max-width: 30vw" aria-label="Search">

              </div>
              <div class="col-sm-auto">
                   <button class="btn btn-info" style="margin:auto;max-width: 15vw" type="submit">Search</button>

              </div>
          </div>
     </form>
    </div>
  </div>
</nav>