{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}"><img class="logo-image" src="{% static 'website_logo/android-chrome-192x192.png' %}" alt="Utils logo"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/pages/">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'energy_index' %}">Energy</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "login" %}" tabindex="-1" aria-disabled="true">Login</a>
        {% endif %}
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
        </li>
        {% endif %}
        {% if request.user.is_active %}
        <li class="nav-item">
            <a class="nav-link" href="/cms">Wagtail-Admin</a>
        </li>
        {% endif %}
      </ul>
      <form class="" style="margin:auto;margin-right: 0;margin-left:1vw;" onsubmit="return searcher.search();">
         {% csrf_token %}
          <div class="row justify-content-center align-items-center">
              {% if not user.is_authenticated %}

              <div class="col-sm-auto">
                    <a href="{% url 'login' %}" class="badge bg-warning" style="color:black;text-decoration: None;font-size:1rem;">Login</a>
              </div>
              {% else %}


              <div class="col-sm-auto">
                <div class="inline-block">
                  <small style="margin-right: 0;padding-right: 0;">{{ user|capfirst }}</small>

                  <a href="{% if not user.is_authenticated %}{% url 'login' %}{% else %}{% url 'user_profile' user %}{% endif %}" style="margin-left: 0;padding-left: 0;">
                      <img class="img-responsive" src="{% if user.profile_image %}{{ user.profile_image }}{% else %}{% static 'default-user.svg' %}{% endif %}"
                           alt="Profile picture" style="max-width: 64px; max-height: 64px;width: 4em;height: 4em;margin-left: 0;padding-left: 0;" >
                  </a>
                </div>
              </div>

              {% endif %}

              <div class="col-sm-auto" style="margin-right: 0;">
                 <input class="form-control" type="search" id="search-bar" placeholder="Search" style="max-width: 200px;width: 80%;" aria-label="Search">
              </div>
              <div class="col-sm-auto" style="margin-left: 0;">
                 <button class="btn btn-info" style="margin: auto;margin-top: 2%;margin-left: 0;float:left;" type="submit">Search</button>
              </div>

          </div>
     </form>
   </div>
  </div>
</nav>
{% include 'gradient-bar.html' %}